.text-genaral{
    color: blue;
}
.input-F{
    margin-left: 2%;
}
.lien{ 
    color: white;
    
}
.select-p{
    width: 80%;
    margin-left: 2%;
}
.select-T{
    width: 80%;
    margin-left: 2%;
}
.text-company{
    width: 80%;
    margin-left: 2%;
}
.text-busniess{
    margin-left: 2%;
}
.input-L{
margin-left: 30%;
}
.select-E{
    margin-right: 60%;
}
.text-contact{
    color: white;
}
.input-p{
     width: 80%;
     margin-left: 2%;
}
.input-Z{
    margin-left: 3%;
}
.input-code{

    margin-left: 3%;  
}
.select-c{
    width: 80%;
    margin-left: 2%;   
}
.btn-r{
    width: 25%;
    margin-left: 5%;
}
.input-b{
    margin-left: 2%;
}